.btn {
  background-color: rebeccapurple;
  color: white;
  border: none;
  border-radius: 0.25em;
  padding: 0.5em 1 em;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
  text-decoration: none;
}

.btn:hover,
.btn:focus {
  background-color: rgb(127, 71, 183);
}

.sm {
  font-size: 0.5rem;
}
.md {
  font-size: 1rem;
}
.lg {
  font-size: 1.5rem;
}